{% extends 'base.html.twig' %}

{% block body %}

{% if app.session %}
        <div class="mb-3">
            Hi {{ app.session.get('employeename') }}
        </div>
    {% endif %}
    
    
{% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    
{% endblock %}
