    ul {
        padding: 0;
        list-style: none;
        background: #555;
        
    }
    ul li {
        display: inline-block;
        position: relative;
        line-height: 21px;
        border:#000 solid 1px;
        text-align: left;
    }
    ul li a {
        display: block;
        padding: 8px 25px;
        color: #FF0000;
        text-decoration: none;
    }
    
    ul li a:hover {
        color: black;
        background: #939393;
    }
    ul li ul.dropdown {
        min-width: 100%; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown {
        display: block; /* Display the dropdown */
    }
    ul li ul.dropdown li {
        display: block;
    }
    #employeename{
         float: right;
         color:dodgerblue;
         font-weight: bold;
         position:absolute;
         top:0px;
         right:0px;

         }
    .middleimg img {
    margin-left: 100px;
  float: left;
  width: 100px;
  height: 100px;
 // background: #555;
}
