{% extends 'base.html.twig' %}

{% block title %}Snacks Table{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}

<div>
<center><p style="font-weight:bold;color:green;font-size:150%;">Snack List</p></center>
{% set i = 0 %}
<div class="container">
<div class="row">
<div class="col-lg-12">
<table class="table table-bordered">
<thead class="table-info">
<tr>
<th>Sl.No</th><th>Snack Name</th>
</tr>

</thead>

<tbody>
{% for snack in snacks %}

     {% set i = i + 1 %}

<tr class="table-primary">
<td>{{i}}</td>
<td>{{snack.snackname}}</td>
</tr>
{% endfor %}
</tbody>

</table>
</div>
</div>
</div>


</div>

{% endblock %}
