<ul>

	<li><a href="{{ path('app_snackapphome_frontpage') }}">Home</a></li>
	<li><a href="{{ path('app_snackassignment_count') }}">ChooseSnack</a></li>
	<li><a href="{{ path('app_logout') }}">Logout</a></li>
	</ul>
	<p id="employeename">{{app.session.get('employeename')}}</p>
